@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

h1 {
    font-size: 32px; /* Set your desired size */
    font-weight: 700; /* 700 is bold — use 300-700 depending on how thick you want it */
    line-height: 1.1;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
