.table-area {
  margin: 25px;
  width: 97%;
  border: 2px solid;
  border-radius: 20px;
  overflow: hidden;
}

.products-table {
  margin-top: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse; 
  border-radius: 20px;
  background-color: white;
}

.table th {
  font-weight: bold;
  background-color: white;
}

.mat-header-cell,
.mat-cell {
  border-bottom: 1px;
}

.paginator {
  background-color: white;
  border-top: 1px solid black;
  padding: 0.5rem;
}

.row-text {
  color: black;
}

.header-text {
  color: black;
  font-weight: bold;
}

.mat-column-category {
  font-style: italic;
}
