<table
  mat-table
  [dataSource]="pagedProducts"
  class="mat-elevation-z8 w-full min-w-full table-fixed rounded-lg shadow-md overflow-hidden"
  style="--mat-table-background-color: #fff"
>
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="bg-white px-4 py-2 text-left font-semibold text-black"
      style="width: 8%"
    >
      Product ID
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      class="bg-white px-4 py-2 border-b text-black"
    >
      {{ element.id }}
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="bg-white px-4 py-2 text-left font-semibold text-black"
      style="width: 32%"
    >
      Product Name
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      class="bg-white px-4 py-2 border-b text-black"
    >
      {{ element.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="variant_group_id">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="bg-white px-4 py-2 text-left font-semibold text-black"
      style="width: 20%"
    >
      Variant Group ID
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      class="bg-white px-4 py-2 border-b text-black"
    >
      {{ element.variant_group_id }}
    </td>
  </ng-container>
  <ng-container matColumnDef="sku">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="bg-white px-4 py-2 text-left font-semibold text-black"
      style="width: 20%"
    >
      SKU
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      class="bg-white px-4 py-2 border-b text-black"
    >
      {{ element.sku }}
    </td>
  </ng-container>
  <ng-container matColumnDef="category_id">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="bg-white px-4 py-2 text-left font-semibold text-black"
      style="width: 10%"
    >
      Category ID
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      class="bg-white px-4 py-2 border-b text-black"
    >
      {{ element.category_id }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class=""></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" class=""></tr>
</table>
