.header {
    width: 100%;
    height: 60px;
    position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    left: 0;
    top: 0;

    // background-color: red;
}

.header-leftside-container {
    // background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
.search-container {
    width: 500px;  //should be  876px
    height: 42px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
}

.search-bar {
    margin-left: 7px;
    align-items: center;
    font-size: 22px;
    border: none;
    outline: none;
    visibility: none;
  
}
.search-icon-container {
    width: 60px;
    height: 56px;
}

.search-icon {
    width: 30px;
    height: 30px;
    align-items: center;
    margin-top: 14px;
    margin-left: 10px;
}

.header-rightside-container{
    display: flex;
    position: center;
    align-items: right;
    justify-content: space-between;
    width: 350px;
    // background-color: royalblue;
    padding-right: 40px;
}

.notification-container {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    
}

.notification-icon {
    width: 35x;
    height: 35px;
    align-items: center;
}

.user-profile-container {
    flex: 1;
    display: flex;
    align-items: left;
    // background-color: yellow;
    justify-content: flex-end;
}

.user-profile {
    height: 52px;
    width: 90%; 
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.user-profile-icon-container {
    width: 43px;
    height: 80%;
    align-items: center;
    display: flex;
    margin-left: 5px;
    border-radius: 50px;
    // background-color: black;
}