<div class = 'header'>
    <div class = "header-leftside-container">
        <div class = "search-container">
            <div class = "search-icon-container">
                <img class = "search-icon" src="assets/icons/search.png" alt="search icon" />
            </div>
            <input type="text" placeholder="Search" class="search-bar" />      
        </div>
    </div>
    
    <div class = "header-rightside-container">
        <div class = "notification-container">
            <img class = "notification-icon" src="assets/icons/notification.png" alt="notification icon" />
        </div>

        <div class = "user-profile-container">
            <div class = "user-profile">
                <img class = "user-profile-icon-container" src="assets/icons/dc.jpg" alt="user profile icon" />
                    <!-- <img class = "user-profile-icon" src="assets/icons/user.png" alt="user profile icon" />
                </div> -->
            </div>
        </div>
    </div>


</div>
