@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


h2{
    font-size: 16px;
    font-weight: 50;
    font-family: 'DM Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
}

.add_product_header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header_title {
    font-size: 32px; /* Set your desired size */
    font-weight: 700; /* 700 is bold — use 300-700 depending on how thick you want it */ 
    text-align: left;
    line-height: 1.1;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;  
}

.table_buttons {
    display: flex;
    position: center;
    align-items: right;
    justify-content: space-between;
    margin-right: 30px;
}


.buttons {
    border: none;
    color: #fbfbfb;
    background-color: #634941;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;  
    font-family: 'Poppins', sans-serif;  
    font-size: 16px;
    font-weight: 700;
}


.content_container {
    padding-top: 20px;
    margin-right: 30px;
    margin-left: 30px;   
}

.content_title {
    font-size: 32px; /* Set your desired size */
    font-weight: 700; /* 700 is bold — use 300-700 depending on how thick you want it */ 
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    line-height: 1.1;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;  
}

//----------------------------------------------------------
.general_container {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image_area {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;       /* Stack items vertically */
    justify-content: center;      /* Center items vertically */
    align-items: center;          /* Center items horizontally */
}

.image_content{
    margin: 0 auto;
    width: 95%;
    height: 70%;
    border: 1px solid black;
    border-radius: 21px;
}

//-----------------------------------------------------------------
.general_content_container {
    width: 70%;
    height: 100%;
    padding-left: 10px;
}

.general_content_container_two_column {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, auto); 
}

.general_content_container_two_column_container {
    padding-right: 10px;
    width: 100%;
}


.input_product_name{
    border: 1px solid black;
    border-radius: 10px;
    height: 46px;
    width: 100%;
}

.input_content{
    border: 1px solid black;
    border-radius: 10px;
    height: 46px;
    width: 100%;
}

.input_icon_container{
    width: 36px;
    height: 36px;
    padding-left: 10px;
}

.input_icon_divider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}





//----------------------------------------------------------
.outlet_container {
    display: grid;
    column-gap: 150px;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, auto); 
}

.outlet_container input {
    border: 1px solid black;
    border-radius: 10px;
    height: 46px;
    width: 100%;
}

.add_outlet_button {
    background-color: #634941;
    border-radius: 10px;
    height: 46px;
    width: 88%;
    margin-top: 43px;

    font-size: 16px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: white;

    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;    

}

.component_container {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

.component_table_area {
    width: 100%;
    height: 100%;
    padding-bottom: 22PX;
}

.add_product {
    display: flex;
    justify-content: flex-end;
}