.sidebar {
  width: 320px;
  background-color: #FFE8E1;
  position: fixed;
  height: 100%;
  overflow: auto;
  left: 0;
  top: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 10;
  font-size: 22px;
}


.sidebar h1 {
  font-size: 40px;
  font-weight: 1000;
  line-height: 1.1;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 50px;
  color: black;
}


.sidebar a {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  color: #000;
  margin: 0 10px; 
  border-radius: 40px; 
}


.icon-container {
  width: 36px;
  height: 36px;
  display: flex;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}


.sidebar-icon {
  width: 30px;
  height: 30px;
}


.sidebar a.active {
  background-color: #6D4C41;
  color: white;
  
}


.sidebar a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  /* No additional margin or padding changes */
}


.spacer {
  flex-grow: 1;
  min-height: 20px;
}

/* Page content to shift for sidebar */


/* Ensure text disappears while keeping icon positions fixed */
@media screen and (max-width: 1500px) {
  .sidebar {
    height: 100%;
    width: 90px; /* Sidebar width stays the same */
    transition: 0.2s;
    
  }

  .sidebar h1 {
    visibility: hidden;
  }

  .sidebar a {
    font-size: 0px;
    justify-content: flex-start; /* Ensures icons stay in place */
  }

  .sidebar a span {
    display: none; /* Hide text while keeping structure */
  }
}

@media screen and (min-width: 1501px) {
  .sidebar {
    height: 100%;
    width: 320px; /* Sidebar width stays the same */
    transition: 0.2s;
    
  }

  .sidebar h1 {
    opacity: 100; /* Hide text */
    visibility: visible;
  }

  .sidebar a {
    font-size: 22px;
    justify-content: flex-start; /* Ensures icons stay in place */
  }

  .sidebar a span {
    display: none; /* Hide text while keeping structure */
  }
}

/* Extra Small Screens */
@media screen and (max-width: 400px) {
  .sidebar {
    width: 320px;
  }
}                  