<div
  class="h-full w-[320px] bg-[#FFE8E1] fixed left-0 top-0 font-sans text-[22px] overflow-auto px-8"
>
  <div class="p-8 flex flex-col items-center justify-center">
    <img src="assets/tlc-logo-white.png" alt="" class="" />
    <h1 class="text-white font-bold text-3xl leading-tight text-left">
      Back Office
    </h1>
  </div>

  <ng-container *ngFor="let link of sidebarLinks; let i = index" class="">
    <a
      [routerLink]="[link.route]"
      [ngClass]="{
        'bg-[#6D4C41] text-white': activeLink === link.key,
        'hover:bg-black/5 text-[#6D4C41]': activeLink !== link.key
      }"
      class="flex items-center px-8 py-4 m-2 rounded-full transition-colors duration-150"
      (click)="ClickLinkHandler($event, link.key)"
    >
      <div class="w-9 h-9 flex pr-2 items-center justify-center">
        <span
          class="material-symbols-outlined text-[32px]"
          [ngClass]="{
            'text-white': activeLink === link.key,
            'text-[#6D4C41]': activeLink !== link.key
          }"
        >
          {{ getMaterialIconName(i) }}
        </span>
      </div>
      <span
        class="ml-2 font-semibold"
        [ngClass]="activeLink !== link.key ? 'text-[#6D4C41]' : 'text-white'"
        >{{ link.label }}</span
      >
    </a>
  </ng-container>
</div>
