<div
  class="h-full w-[320px] bg-[#FFE8E1] fixed left-0 top-0 font-sans text-[22px] overflow-auto px-8"
>
  <div class="p-8 flex flex-col items-center justify-center">
    <img src="assets/tlc-logo-white.png" alt="" class="" />
    <h1
      class="text-white font-bold text-3xl leading-tight text-left"
    >
      Back Office
    </h1>
  </div>

  <ng-container *ngFor="let link of sidebarLinks" class="">
    <a
      [routerLink]="[link.route]"
      [ngClass]="{
        'bg-[#6D4C41] text-white': activeLink === link.key,
        'hover:bg-black/5': activeLink !== link.key
      }"
      class="flex items-center px-8 py-4 m-2 rounded-full transition-colors duration-150"
      (click)="ClickLinkHandler($event, link.key)"
    >
      <div class="w-9 h-9 flex pr-2 items-center justify-center">
        <img
          *ngIf="activeLink === link.key"
          [src]="link.activeIcon"
          [alt]="link.label + ' Icon'"
          class="w-7 h-7"
        />
        <img
          *ngIf="activeLink !== link.key"
          [src]="link.icon"
          [alt]="link.label + ' Icon'"
          class="w-7 h-7"
        />
      </div>
      <span class="ml-2">{{ link.label }}</span>
    </a>
  </ng-container>
</div>
