.table-area {
  margin: 25px;
  width: 97%;
<<<<<<< HEAD
  border: 2px solid; // Outer border
  border-radius: 20px; // Rounded corners
  overflow: hidden; // Enforces the border-radius
=======
  border: 2px solid;           // Outer border
  border-radius: 20px;              // Rounded corners
  overflow: hidden;                 // Enforces the border-radius
>>>>>>> 1f49e68c2c2f1e2eb20b8ba2f42e777eaae5f0f4
}

.products-table {
  margin-top: 1rem;
}

.table {
  width: 100%;
<<<<<<< HEAD
  border-collapse: collapse; // Removes spacing between rows
=======
  border-collapse: collapse;        // Removes spacing between rows
>>>>>>> 1f49e68c2c2f1e2eb20b8ba2f42e777eaae5f0f4
  border-radius: 20px;
  background-color: white;
}

.table th {
  font-weight: bold;
  background-color: white;
}

.mat-header-cell,
.mat-cell {
  border-bottom: 1px;
}

.paginator {
  background-color: white;
  border-top: 1px solid black;
  padding: 0.5rem;
}

.row-text {
  color: black;
}

.header-text {
  color: black;
  font-weight: bold;
}

.mat-column-category {
  font-style: italic;
}
